@media (min-width: 32.5em) {
    main {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 10px;
      }

    article:nth-child(3) {
        grid-row: 2;
        grid-column: 1 / 3;
    }

}