footer, header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid rgb(161, 161, 161);
    background-color: #002A32;
    width: 100%;
    box-shadow: 5px 5px 5px #999999;
    margin-bottom: 20px;
    height: 200px;
}

h3 {   
  color: white;
  text-shadow: 5px 5px 5px black;
  overflow: hidden;
  font-size: 30px;
  margin-left: 5px;
  font-family: 'EB Garamond', serif;
}

h3:hover {
    transform: translateY(-10px);
    transition: all 0.25s;
}

h1, h2 {
  color: white;
  text-shadow: 5px 5px 5px black;
  font-family: 'EB Garamond', serif;
}

h4 {
  color: rgb(203, 242, 243);
  font-size: 20px;
  margin-left: 8px;
  font-family: 'Quicksand', sans-serif; 
}

p {
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 8px #000000;
  margin-left: 8px;
  margin-right: 8px;
  font-family: 'Quicksand', sans-serif; 
}

a {
  margin-left: 40px;
  color: aliceblue;
  font-weight: bold;
  text-shadow: 2px 2px 8px #000000;
  font-size: larger;
}

img {
    margin-top: 5%;
}

article {
  border-radius: 10px 10px 0 0;
  background-color: #53517B;
  box-shadow: 5px 5px 5px #999999;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
