body {
    font-family: Montserrat, sans-serif;
    color: white;
}

main {
    display: grid;
    grid-template-rows: repeat(8, auto);
    grid-gap: .5rem;
  }

section {
    background-color: #230C0F;
    font-size: smaller;
    height: 180px;
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: 180px auto;
    align-items: center;
    background-color: #1B5A7E;
    margin-bottom: 1rem;
}

.logo-img img {width: 100%;}

.banner-img img {width: 100%;}

a {color: azure;}

footer {
    background-color: #1B5A7E;
    margin-top: 1rem;
}

.upper-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h2, h3, h4 {
    color: #B4869F;
    text-align: center;
}

h1 {
    color: #230C0F;
    font-weight: 600;
    font-style: oblique;
}

.upper-footer .logo-img {width: 30%;}

.lower-footer {
    display: block;
    text-align: center;
    padding: 1rem;
}

.lower-footer p {
    display: inline;
    align-self: center;
}

.navigation li:first-child {display: block;}

.navigation li {
    display:  none;
    margin-left: 25px;
}

nav ul li a:first-child {border: none;}

.navigation a:hover, #hero-site-name a:hover {
	color: #B4869F;
	background-color: #230C0F;
    padding: 1rem;
}

.responsive li {display: block;}

nav {
    display: flex;
    flex-direction: column;
}

nav p {align-self: center;}

#bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }

.ham {font-size: 2rem;}

nav ul li a {
    display: block;
    padding: .8rem;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.ham span:nth-child(1) {display: block;}

.ham span:nth-child(2) {display: none;}

.responsive .ham span:nth-child(1) {display: none;}

.responsive .ham span:nth-child(2) {display: block;}

#hero-site-name img {
    width: 100%;
    height: 100%;
  }

#hero-site-name h1 {
    font-weight: bolder;
    position: absolute;
    z-index: 1;
  }

#hero-site-name a {
    position: relative;
    bottom: 15%;
    left: 60%;
    font-size: larger;
    padding: 1rem;
    z-index: 2;
    color: whitesmoke;
    background-color: #1B5A7E;
    text-decoration: none;
  }

#hero-site-name {grid-row: 1 / 2;}

#event {grid-row: 2 / 3;}

#weather {
    grid-row: 3 / 4;
    margin: 0 20%;
}

#join {display: none;}

#news-release {grid-row: 4 / 5;}

#spotlights {
    grid-row: 5 / 7;
    height: 360px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#spotlights article:nth-child(1) {
    height: auto;
    border: 1px solid azure;
    margin: 5px;
  }

  #spotlights article:nth-child(2) {
    height: auto;
    border: 1px solid azure;
    margin: 5px;
  }

  #spotlights article:nth-child(3) {
    display: none;
    height: auto;
    border: 1px solid azure;
    margin: 5px;
  }

  .spotlight-img img{
    width: 20%;
    margin-left: 35%;
  }

  #spotlights p {
    margin: 0;
    text-align: center;
  }

.contact-info, .address {
    display: flex;
    flex-direction: column;
}

.address {
    margin: 0;
    align-items: center;
}

.contact-info span {
    margin: 6px;
}

#weather div:nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40%;
}

#weather div:nth-child(1) {
    display: flex;
    flex-direction: row;
}

.banner-msg {
    background-color: #B4869F;
}

.banner-msg p {
    color: aliceblue;
    margin: 0;
    padding: 30px 0;
    text-align: center;
    font-size: larger;
}