@media (min-width: 64em) {
  main {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: .5rem;
      margin: 0 1rem;
    }

  nav {
    padding: .5rem 1rem;
  }

  .navigation {
    display: flex;
    flex-direction: row;
  }

  .navigation li:first-child {
    display: none;
  }

  .navigation li {
    flex: 1 1 auto;
    display: block;
  }

  .navigation a {
    text-align: center;
  }

  section {
    margin: 0;
  }

  #hero-site-name, #news-release {
    grid-column: 2 / 3 ;
  }

  #hero-site-name {
    grid-row: 1 / 4;
    /* display: inline; */
    height: 75%;
  }

  /* .banner-img {height: 105%;} */


  #news-release, #join {
    grid-row: 3 / 4;
  }

  #event {
    grid-row: 1 / 2;
  }

  #weather {
    grid-row: 2 / 3;
    margin: 0;
  }

  #event, #weather, #join {
    grid-column: 1 / 2;
  }

  #spotlights {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .upper-footer {
    display: flex;
    flex-direction: row;
  }

  #spotlights article h3 {
    display: block;
  }

  #spotlights article {
    display: block;
  }

  #spotlights article:nth-child(1) {
    grid-row: 1 / 2;
  }

  #spotlights article:nth-child(2) {
    grid-row: 2 / 3;
  }

  #spotlights article:nth-child(3) {
    grid-row: 3 / 4;
    display: block;
  }

  /* .truck-img {
    align-items: center;
    justify-items: center;
  } */

  nav ul li a {border: none;}
}